@charset "UTF-8";

:root {
    --color-background-header: rgb(220, 220, 220);
    --color-background-shadow: rgba(117,117,117,1);
    --color-background-gray-light: rgba(250, 250, 250, 0.6);
    --color-background-white: rgb(250,250,250);
    --color-background-gray: rgb(210, 210, 210);
    --color-background-black: rgb(0,0,0);
    --color-background-blue: #29526d;
    --color-background-blue-light: #cfe4f3d2;
    --color-button: #033C50;
    --color-text: #525252;
    --color-border: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--color-background-header);

}
/* main */

main .container_form{
    background-image: url(/css/imagens/bg-form.jpg);
    background-size: cover;
    background-position: center;
    width: 90vw;
    height: 90vh;
    margin: auto;
}

main .container_form form h2{
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13pt;
    background-color: var(--color-background-header);
    padding: 20px;
}

main .container_form form{
    background-color: var(--color-background-gray-light);
    width: 300px;
    height: 530px;
    float: right;
    margin: 10px 100px 0 0;
    display: flex;
    flex-direction: column;
}

main .container_form form input{
    width: 250px;
    height: 30px;
    margin: 10px 30px 30px;
    padding: 5px;
    border: none;
}

main .container_form form label{
    margin-left: 30px;
    font-size: 12pt;
}

main .container_form form button[type="submit"]{
    width: 80%;
    height: 40px;
    margin: 20px 10%;
    background-color: var(--color-background-blue);
    color: white;
    border: none;
    cursor: pointer;
    transition: .4s;
}

main .container_form form button[type="submit"]:hover{
    background-color: rgb(43, 11, 158);
}

main img[alt="Imagem de seta"]{
    z-index: 100;
    position: relative;
    top: -30px;
    left: 50%;
}

main .titulos{
    display: flex;
    align-items: center;
    width: 90vw;
    flex-direction: column;
    background-color: var(--color-background-header);
    padding: 70px 10%;
    margin: auto;
    position: relative;
    top: -63px;
}

main .container_imagens{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    padding: 20px 10%;
    margin: auto;
}
main .container_imagens #container_imagem_1{
    display: flex;
    flex-direction: row;
}


main .container_imagens #container_imagem_1 :first-child{
    width: 300px;
    height: 300px;
}



